<section id="right-nav">
    <h3>Your Pages</h3>
    <div class="page">
      <div class="avatar">
        <img
          src="../../assets/41-419791_fb-page-icon-png-facebook-page-logo-png.png"
          alt="facebook-page"
          srcset=""
        />
        <h4>Your Page</h4>
      </div>
      <div class="page__details">
        <div class="page__details__notifications">
          <img
            src="../../assets/facebook-bell-notification-icon-facebook-notification-icon-115533968929v06ejw22d.png"
            alt=""
            srcset=""
          />
          10 Notifications
        </div>
        <div class="page__details__promotion">
          <img
            src="../../assets/Facebook_Social_Media_User_Interface-44-512.png"
            alt=""
            srcset=""
          />
          Create Promotion
        </div>
      </div>
    </div>
    <div class="friend-requests">
      <div class="friend-requests__header">
        <h3>Friend Requests</h3>
        <a href="#">See All</a>
      </div>
      <div class="friend-requests__friend">
        <div class="avatar">
          <img
            src="../../assets/pp.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="friend-requests__friend__details">
          <h4>John Doe</h4>
          <button class="btn btn-prim">Confirm</button>
          <button class="btn btn-sec">Cancel</button>
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="contacts__header">
        <h3>Contacts</h3>
        <div class="icons">
          <div class="icon room"></div>
          <div class="icon search"></div>
          <div class="icon more"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="left-nav">
    <div class="top-sec">
      <div class="item">
        <img src="../../assets/42640675_789808834766895_7137361207790403584_n.jpg" alt="" />
        <h5>Youatina Nader</h5>
      </div>
      <div class="item">
        <img src="../../assets/covi.png" alt="" />
        <h5>COVID-19 Information Center</h5>
      </div>
      <div class="item">
        <img src="../../assets/pg.png" alt="" />
        <h5>Pages</h5>
      </div>
      <div class="item">
        <img src="../../assets/fr.png" alt="" />
        <h5>Friends</h5>
      </div>
      <div class="item">
        <img src="../../assets/ms.png" alt="" />
        <h5>Messenger</h5>
      </div>
      <div class="item">
        <img src="../../../assets/ms.png" alt="" />
        <h5>See More</h5>
      </div>
    </div>