
<div class="container">
    <div class="postContainer" *ngFor="let post of arrayOfPosts">
      <div><img class="posterImg" [src]="post.userPic" alt="" /></div>
      <div class="posterDetails">
        <h2 class="posterName">{{post.userFirstName}} {{post.userLastName}}</h2>
        <div class="postTime clickable">
          34m .
          <span class="material-icons privacy">
            public
          </span>
          <i class="far fa-ellipsis-h maxRight clickable"></i>
        </div>
      </div>
      <div class="postContent">{{post.content}}</div>

      <!-- ////////if ther is img ////// -->
      <ng-templet *ngIf="post.imgUrl">
        <img class="mediaPost center" [src]="post.imgUrl" alt="">
      </ng-templet>

      <!-- <div *ngIf="post.imgUrl" >
        <img class="mediaPost center" [src]="post.imgurl" alt="">

      </div> -->

      <!-- /////////if there is video///// -->
      <ng-templet *ngIf="post.videoUrl">
        <video class="mediaPost center" controls  >
          <source [src]="post.videoUrlMp4" type="video/mp4">
            <source [src]="post.videoUrlOgg" type="video/ogg">
            Your browser does not support the video tag.
           
        </video>
      </ng-templet>

      <hr />

      <div class="reactive">
        <div class="center reacts likeReact"  >
         <!-- <ng-templet *ngIf="post.isLiked">
           <i class="fas fa-thumbs-up reactIcon active"></i>
         </ng-templet> -->
          <i class="fal fa-thumbs-up reactIcon " (click)="boolenLike()" [ngClass]="status ? 'active' : ''" ></i>
          <span class="reactionsTooltip">Reacts</span>
          <span>Like</span>
        </div>
        <div class="center">
          <i class="far fa-comment-alt reactIcon"></i>
          <span>comment</span>
        </div>
        <div class="center">
          <i class="fal fa-share reactIcon"></i>
          <span>share</span>
        </div>
      </div>
      <hr />


      <div>
        <h2 class="moreComment clickable">view 5 more Comments</h2>
      </div>
      <div class="commentArea">
        
          <app-comment-component [comments]="post.comments" ></app-comment-component>
      
          <div>
            <h2 class="moreComment clickable">view  more Comments</h2>
          </div>
        <div class="oneCommentContainer">
          <div>
            <img class="posterImg" src="../assets/FB logo.png" alt="" />
          </div>

          <input
            class="newCommentInput"
            type="text"
            placeholder="   Write a comment ...  "
            
          />
          <!-- &#9786; -->
        </div>
      </div>
    </div>
  </div>