<div class="container">
    <div class="postContainer">
      <div><img class="posterImg" src="../assets/FB logo.png" alt="" /></div>
      <input
        style="width: 95%;"
        class="newCommentInput"
        type="text"
        placeholder="   What Is in your mind,Youstina?"
      />
      <hr />
      <div class="reactive">
        <div class="center">
          <i class="fal fa-thumbs-up reactIcon"></i>
          <span>Live Video</span>
        </div>
        <div class="center">
          <i class="far fa-comment-alt reactIcon"></i>
          <span>Photo/Video</span>
        </div>
        <div class="center">
          <i class="fal fa-share reactIcon"></i>
          <span>Feeling/Activity</span>
        </div>
      </div>
    </div>
  </div>