@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
html {
  background-color: #f0f2f5;
  scroll-behavior: smooth;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

///////////////////////post/////////////////@at-root

.postContainer {
  display: block;
  margin: auto;
  background-color: white;
  // width: 80%;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.7rem -0.3rem grey;
  min-height: 7rem;
}
.postContent {
  margin: 1rem 0;
  font-size: 2rem;
  color: black;
}

.posterImg {
  // display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  float: left;
  &:hover {
    cursor: pointer;
  }
}
.posterDetails {
  margin-left: 5rem;
}
.posterName {
  display: inline;
  // margin: 0px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.postTime {
  display: flex;
  align-items: center;
}

.privacy {
  font-size: 1.5rem;
  color: gray;
}

.reactive {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #65676b;
}
.reactions {
  width: 33%;
  height: 4rem;
  border-radius: 4rem;
  background-color: red;
  display: none;
}
.reacts:hover .reactions {
  background-color: #1877f2;
  display: inline;
}
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.moreComment {
  color: #65676b;
  font-size: 1.7rem;
  // font-weight: bold;
  margin-bottom: 1rem;
}
.reactIcon {
  font-size: 2rem;
  margin-right: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.oneCommentContainer {
  margin-bottom: 1rem;
}
.oneComment {
  background-color: #f0f2f5;
  border-radius: 2rem;
  width: 60%;
  padding-bottom: 1rem;
  color: black;
}
.commenter {
  margin-left: 2rem;
  font-size: 1.5rem;
}
.replayContainer {
  margin-left: 6rem;
  font-weight: bold;
  color: #65676b;
  font-size: 1.2rem;
  .commentTime {
    font-weight: lighter;
  }
}

.newCommentInput {
  border: 0px;
  background-color: #f0f2f5;
  width: 60%;
  min-height: 4.5rem;
  border-radius: 2rem;
  margin-left: 1.5rem;
}
/////////////////////////////////////////
.specialWord {
  font-weight: bolder;
}
.maxRight {
  display: flex;
  margin-left: auto;
}
.float{
  top: 14rem;
}

.rooms {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  // position: absolute;
  //   overflow: auto;
  //   white-space: nowrap;
  //   div{
  //     display: inline-block;

  //   }
  // }::-webkit-scrollbar {
  //   display: none;
  // }
}

.roomPic {
  margin-right: 1.5rem;
}
.floating {
  position: relative;
}
.slide {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #65676b;
  z-index: 2;
  position: relative;
  margin-right: 0;
  display: flex;
  margin: auto;
  position: absolute;

  right:3rem;
  z-index: 10;
}

.storyCard {
  width: 15rem;
  height: 25rem;
  background-color: red;
  border-radius: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  background-image: url(../assets/dorra.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.myPic {
  background-color: #65676b;
  background-image: url(../assets/hand.jpg);
}
.storyPP {
  width: 4rem;
  height: 4rem;
  background-color: chartreuse;
  border-radius: 50%;
  border: 5px;
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
}
.myStoryPP {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;

  margin-top: 80%;
  background-color: #1877f2;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.storyName {
  color: white;
  display: table-caption;
  margin-top: 14rem;
  margin-left: 2rem;
}
.myStoryName {
  display: flex;
  margin-top: 4rem;
  margin-left: 4rem;
}
.storyContainer {
  display: flex;
  //   overflow: auto;
  //   white-space: nowrap;
  //   div{
  //     display: inline-block;

  //   }
  // }::-webkit-scrollbar {
  //   display: none;
  // }
}
