
   <app-header-component></app-header-component>
<app-sidebar-component></app-sidebar-component>
<div class="cont"> 
    <!-- ///////////////Stories///////////////// -->
    <div class="container ">
      <div class="storyContainer floating ">
        <!-- ////my story ////// -->
        <div class="storyCard myPic">
          <div  class="storyPP myStoryPP clickable">
      
            <i class="far fa-plus testt center" style="color:white;"></i>
          </div>
         
          <div class="storyName myStoryName ">Creat a Story</div>
        </div>
        <!-- ////////Other stories////// -->
    <app-story-component></app-story-component>
    <app-story-component></app-story-component>
    <app-story-component></app-story-component>
    <app-story-component></app-story-component>
    <app-story-component></app-story-component>
    
   
   
            <div class="slide maxRight clickable float">
            <i class="far fa-chevron-right center" style="color: #65676b;"></i>

              
            </div>
      </div>
    </div>

    <!-- /////////////////////Write New Post/////////// -->
<app-new-post-component></app-new-post-component>
    <!-- //////////////////Rooms////////////// -->
   
    
    <div class="container">
      <div class="postContainer floating">
        <div class="center" style="color: black;">
          <!-- <span class="material-icons privacy"> public </span> -->
          <div >

            <img class="reactIcon" src="../assets/room.png" alt="">
          </div>
          <span class="specialWord">Rooms </span> . video chat with friends
          <span class="maxRight clickable" style="color: #1877f2;"
            >Creat Room</span
          >
        </div>
        <div class="rooms">
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
      <app-online-room-component></app-online-room-component>
         
          <div class="slide maxRight clickable">
            <i class="far fa-chevron-right center" style="color: #65676b;"></i>
          </div>
        </div>
      </div>
    </div>
 
    <!-- ///////////////post/////////////// -->
<app-post-listing-component></app-post-listing-component>
</div>