<div
  class="oneCommentContainer"
  *ngFor="let comment of comments; let i = index;"
>
  <div>
    <img class="posterImg" [src]="comment.commenterPic" alt="" />
  </div>
  <div class="posterDetails oneComment">
    <h2 class="posterName commenter">{{ comment.commenterName }}</h2>
    <div class="comment commenter">{{ comment.Comment }}</div>
  </div>
  <div class="replayContainer">
    <span class="replay">Like . </span>
    <span class="replay">Replay . </span>
    <span class="replay commentTime">2h</span>
  </div>
</div>
