<p>
    <mat-toolbar class="toolbar">
      <div><img class="FBLogo" src="../assets/FB logo.png" alt="" /></div>
      <form class="example-form">
        <input
          class="searchForm"
          type="search"
          placeholder="  &#61442; search facebook"
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let street of filteredStreets | async"
            [value]="street"
          >
            {{ street }}
          </mat-option>
        </mat-autocomplete>
      </form>
      <mat-tab-group>
        <mat-tab >
          <ng-template mat-tab-label>
            <img class="navIcon" src="../../assets/home.png" alt="">
            <!-- <i class="fal fa-home-alt"></i> -->
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="navIcon" src="../../assets/watch.png" alt="">

            <!-- <i class="far fa-play"></i> -->
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="navIconPhoto" src="../../assets/marketPlace.png" alt="">
            <!-- <mat-icon
              class="navIcon"
              aria-hidden="false"
              aria-label="Example home icon"
              >home</mat-icon
            > -->
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="navIconPhoto" src="../../assets/groups.png" alt="">

          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="navIconPhoto" src="../../assets/gaming.png" alt="">
            
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <div> <img class="test profilePic " src="../assets/42640675_789808834766895_7137361207790403584_n.jpg" alt=""> </div><span class="profileName">Youstina</span>
      <div class="test"><i class="far fa-plus testt"></i> </div>
      <div class="test"><i class="fab fa-facebook-messenger testt"></i></div>
      <div class="test"><i class="fas fa-bell testt"></i></div>
      <div class="test"><i class="fas fa-sort-down testt"></i></div>
      <!-- <span class="tooltiptext">Tooltip text</span> -->
    </mat-toolbar>
  </p>